@import '../../interface/variables.scss';

.switch {
  width: 36px;
  height: 20px;
  background-color: #243552;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: $ghost-hover;
    border-radius: 50%;
    transition:
      background-color 0.3s,
      transform 0.3s;
  }

  &__active {
    background-color: $button-default;
    &:before {
      transform: translateX(12px);
      background-color: $white;
    }
  }
}
