@import '../../interface/variables.scss';

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  color: $white;
  font-weight: 700;
  line-height: 17px;
  transition: all ease-in-out 0.3s;

  &__medium {
    font-size: 14px;
    padding: 8px 16px;
  }

  &__small {
    font-size: 12px;
    padding: 6px 16px;
  }

  &__large {
    font-size: 18px;
    padding: 14px 16px;
  }

  &__default {
    border: 1px solid $button-default;
    background: $button-default;

    &:hover {
      background-color: $button-hover;
    }

    &:active {
      background-color: $button-active;
    }
  }

  &__primary {
    border: 1px solid $button-default;
    background: transparent;

    &:hover {
      background-color: $button-default;
    }

    &:active {
      border: 1px solid $button-active;
      background-color: $button-active;
    }
  }

  &__ghost {
    border: 1px solid $ghost-hover;
    background: transparent;

    &:hover {
      background-color: $ghost-hover;
    }

    &:active {
      border: 1px solid $stroke-active;
      background-color: $stroke-active;
    }
  }

  &__disabled,
  &__disabled:hover,
  &__disabled:active {
    cursor: not-allowed;
    border: 1px solid $button-not-active;
    background: $button-not-active;
  }

  &__icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > svg {
      width: 20px;
      height: 20px;
    }
  }

  &__loading {
    display: block;
    margin-right: 7px;

    &-not {
      display: none;
    }
  }
}
