@import '../../interface/variables.scss';

.text {
  color: $white;
  font-size: 16px;
  font-weight: 500;

  &__primary {
    color: $ghost-hover;
  }

  &__bold {
    font-weight: 700;
  }

  &__small {
    font-size: 12px;
    font-weight: 400;
  }

  &__left {
    text-align: left;
  }

  &__right {
    text-align: right;
  }

  &__center {
    text-align: center;
  }
}
