@import '../../interface/variables.scss';

.title {
  color: $white;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 8px;

  &__h1 {
    font-size: 26px;
  }

  &__h2 {
    font-size: 20px;
  }

  &__h3 {
    font-size: 16px;
    font-weight: 600;
  }

  &__left {
    text-align: left;
  }

  &__right {
    text-align: right;
  }

  &__center {
    text-align: center;
  }
}
