@import '../../styles/interface/variables.scss';

.header {
  padding: 18px;
  width: 100%;
  position: sticky;
  background-color: $dedicated-block;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.link {
  cursor: pointer;
  transition: color 0.4s ease;

  &:hover {
    color: $stroke-active;
  }
}
