$primary-bg: #0b1529;
$stroke-fields: #213358;
$stroke-active: #3a5281;
$button-default: #3754f1;
$button-hover: #5b75ff;
$button-active: #132aab;
$button-not-active: #425376;
$ghost-hover: #6077a6;
$white: #fafafa;
$error: #c12b2b;
$text-input: #40567b;
$dedicated-block: #111f39;
