@import '../../interface/variables.scss';

.divider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  &::after {
    z-index: 1;
    position: absolute;
    top: 50%;
    content: '';
    height: 2px;
    width: 100%;
    background-color: $white;
    border-radius: 50%;
  }

  &__text {
    margin-top: 0;
    position: relative;
    z-index: 2;
    background-color: $primary-bg;
    padding: 0 6px;
  }
}
